{% extends "base.html" %}
{% import 'macros.html' as macro %}


{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}

{% block content %}

    <div class="header">
        <h2>News Highlights</h2>
    </div>
{% for source in sources %}

    
    <div class="grid-container">
        <h3 class="grid-item">{{source.id}}</h3>
        <div class="grid-item">
            <p class="grid-item">{{source.description}}</p>
            <p class="grid-item">{{source.url}}</p>
            <p class="grid-item"><a href="/sources/{{source.id}}">Explore</a></p>  
            <p class="grid-item">Language: {{source.language}}</p>
            <p class="grid-item">Country: {{source.country}}</p>
        </div>
    </div>

{% endfor %}
{% endblock content %}
